@import '_fonts.scss';
@import '_colors.scss';

.app-container {
    max-width: 1440px;
    height: auto;
    padding: 5px;
    margin: 0 auto;
}
html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
    font-size: 18px;
    color: $primary-color;
    font-family: 'Montserrat';
    background: $bg;
}
h1, h2 {
    font-family: 'Montserrat';
}
ul {
    padding: 0;
}
li {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $primary-color;
}

@media(max-width: 768px) {
    .app-container {
        padding: 0 10px;
    }
}