@import '_colors.scss';

@keyframes slide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-reverse {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}


.collapse {
    &_header {
        width: 80%;
        margin: 30px auto;
        height: 50px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);

        &_title {
            padding: 15px;
            margin: 0;
            font-size: 18px;
        }

        &_icon {
            padding: 6px 16px;
            font-size: 26px;
            cursor: pointer;
        }
    }

    &_content {
        position: relative;
        max-width: 80%;
        margin: auto;
        color: $primary-color;
        z-index: -1;
        box-sizing: border-box;
        padding: 20px;
        background: $bg-secondary;
        margin-top: -30px;
        border-radius: 0 0 10px 10px;
        font-size: 16px;
        line-height: 23px;
        animation: slide 0.2s ease-in-out;
    }
}

.about_collapses {
    margin-top: 50px;
    margin-bottom: 170px;
}