.footer {
    position: absolute;
    max-width: 1440px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-grow: 1;
    box-sizing: border-box;
    
    &_logo {
        margin-top: 24px;
        width: 80px;
    }
    
    &_text {
        color: white;
        font-size: 15px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 200px;
    }
}