.page_logement {
    width: 95%;
    min-height: 560px;
    margin: 16px auto 100px auto;  
    
    &_header {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 30px 0;
        &_infos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &_title {
                font-size: 35px;
                margin: 3px 0 20px 0;
            }
            &_location {
                font-size: 18px;
                margin: 3px 0 20px 0;
            }
            &_tags {
                display: flex;
                flex-wrap: wrap;
                &_tag {
                    font-size: 15px;
                    color: white;
                    background: $primary-color;
                    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
                    margin: 0 16px 0 0;
                    padding: 3px 24px;
                    border-radius: 15px;
                }
            }
        }

        &_hoster {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            &_infos {
                display: flex;
                align-items: center;
                &_prenom {
                    width: 120px;
                    text-align: right;
                    margin-right: 8px;
                    font-size: 18px;
                }
                &_img {
                    width: 53px;
                    height: 53px;
                    border-radius: 48px;
                    object-fit: cover;
                    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
                }
            }
            &_notes {
                margin-top: 16px;
                text-align: right;
                &_star {
                    padding-left: 5px;
                    font-size: 25px;
                    &_grey {
                        color: rgb(188, 186, 186);
                    }
                }
            }
        }
    }
    &_collapses {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 150px;
        
        &_contents {
            width: 47%;
            & ul {
                margin: 0;
            }
        }
    }
}

@media(max-width: 768px) {
    .slideshow {
            width: 100%;
            max-height: 255px;
        }

    .page_logement {
        width: 100%;
        
        &_header {
            flex-direction: column;
            margin-bottom: 0 !important;
            
            &_infos {
                &_tags {
                    &_tag {
                        margin-bottom: 14px !important;
                    }
                }
            }
            
            &_hoster {
                flex-direction: row-reverse !important;
                align-items: center !important;
                margin-top: 0 !important;
                margin-bottom: 8px;
                
                &_infos {
                    align-items: center;
                    &_prenom {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                &_notes {
                    padding: 0 3px 16px 0 !important;
                    &_star {
                        padding: 0 2px 20px 0 !important;
                    }
                }
            }
        }
    }
    .page_logement_collapses {
        margin-bottom: 220px;
        width: 100%;
        align-items: center;
        flex-direction: column;

        &_contents {
            width: 97%;
        }
    }

}