.footer {
  position: absolute;
  max-width: 1440px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;
}
.footer_logo {
  margin-top: 24px;
  width: 80px;
}
.footer_text {
  color: white;
  font-size: 15px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .footer {
    height: 200px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-left: 20px;
  margin-right: 0;
}
.header_logo_img {
  width: 180px;
}
.header_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}
.header_nav a {
  text-decoration: none;
}
.header_nav_link {
  font-size: 19px;
  margin: 16px 14px;
}
.header_nav_link_navlink {
  padding: 1px 2px;
  color: #ff5656;
  border: 1px solid transparent;
  white-space: nowrap;
}
.header_nav_link_active {
  padding: 2px 3px;
  text-decoration: underline;
  border-bottom: 0.5px solid;
  color: #ff5656;
}

@media (max-width: 768px) {
  .header {
    width: 95%;
  }
  .header_logo_img {
    width: 80%;
  }
  .header_nav {
    flex-direction: column;
    align-items: center;
  }
  .header_nav ul li {
    padding: 0;
    margin: 0;
  }
  .header_nav_link_navlink {
    margin: 0 10px;
    font-size: 14px;
  }
}
li {
  list-style-type: none;
}

.Logements_container {
  width: 95%;
  margin: 50px auto 160px auto;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 10px;
}
.Logements_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 14px;
}

.Logements {
  width: 33%;
}
.Logements_figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1803921569);
  margin-block: 0;
  margin-inline: 0;
  margin: 16px;
  border-radius: 8px;
}
.Logements_figure:hover {
  transform: scale(1.01);
}
.Logements_figure_cover {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.Logements_figure_figcaption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 13%, rgba(0, 212, 255, 0) 70%);
  border-radius: 0 0 8px 8px;
}
.Logements_figure_figcaption_title {
  color: white;
  font-size: 18px;
  width: 95%;
  position: absolute;
  left: 10px;
  bottom: 0px;
}

@media (max-width: 768px) {
  .Logements_container {
    background-color: transparent;
    margin: 0 0 112px 0;
    padding: 0;
    width: 100%;
    margin-bottom: 230px;
  }
  .Logements_list {
    padding: 0;
  }
  .Logements {
    width: 100%;
  }
  .Logements_figure {
    margin: 16px 8px;
  }
  .Logements_figure_cover {
    height: 335px;
  }
}
@media (min-width: 768px) and (max-width: 1090px) {
  .Logements {
    width: 50%;
  }
}
:root {
  --primary-font: Montserrat;
}

.app-container {
  max-width: 1440px;
  height: auto;
  padding: 5px;
  margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  font-size: 18px;
  color: #ff5656;
  font-family: "Montserrat";
  background: #fff;
}

h1, h2 {
  font-family: "Montserrat";
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ff5656;
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 10px;
  }
}
:root {
  --primary-font: Montserrat;
}

:root {
  --primary-font: Montserrat;
}

.banner {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_title {
  position: absolute;
  z-index: 1;
  font-size: 48px;
  font-style: normal;
  color: white;
  font-family: var(--primary-font);
  font-weight: 500;
}
.banner_img {
  position: relative;
  width: 100%;
  border-radius: 25px;
  filter: brightness(70%);
}
@media (max-width: 768px) {
  .banner {
    width: 100%;
    margin: 10px 0;
  }
  .banner_title {
    width: 65%;
    font-size: 24px;
    margin-left: -30px;
  }
  .banner_img {
    width: 95%;
    height: 120px;
    border-radius: 10px;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 0;
  }
}
.about_collapses {
  margin: 50px 200px 200px 200px;
}
.about_collapses_content {
  margin-bottom: 40px;
}

.collapse {
  margin-bottom: 20px;
  overflow: hidden;
}
.collapse_header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5656;
  color: white;
  border-radius: 7px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  cursor: cursor;
}
.collapse_header_title {
  padding: 6px 8px;
  margin: 0;
  font-size: 18px;
}
.collapse_header_icon {
  padding: 6px 12px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}
.collapse_content {
  position: relative;
  z-index: -1;
  padding: 12px 16px;
  background: #F6F6F6;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  line-height: 23px;
  opacity: 1;
  animation: slideIn 0.5s ease-out;
}
.collapse .collapse_header_icon.rotate-icon {
  transform: rotate(360deg);
}

@media (max-width: 768px) {
  .about_collapses {
    margin: 50px 50px 300px 50px;
  }
  .about_collapses_content {
    margin-bottom: 50px;
  }
}
.erreur_contents_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.erreur_contents_content_title {
  margin-top: 100px;
  font-size: 250px;
  margin-bottom: 3px;
}
.erreur_contents_content_subtitle {
  margin-top: 10px;
  margin-bottom: 90px;
}
.erreur_contents_content_button {
  margin-bottom: 145px;
}

@media (max-width: 768px) {
  .erreur_contents_content_title {
    font-size: 160px;
  }
  .erreur_contents_content_subtitle {
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .erreur_contents_content_link {
    margin-top: 80px;
  }
}
.page_logement {
  width: 95%;
  min-height: 560px;
  margin: 16px auto 100px auto;
}
.page_logement_header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}
.page_logement_header_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page_logement_header_infos_title {
  font-size: 35px;
  margin: 3px 0 20px 0;
}
.page_logement_header_infos_location {
  font-size: 18px;
  margin: 3px 0 20px 0;
}
.page_logement_header_infos_tags {
  display: flex;
  flex-wrap: wrap;
}
.page_logement_header_infos_tags_tag {
  font-size: 15px;
  color: white;
  background: #ff5656;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  margin: 0 16px 0 0;
  padding: 3px 24px;
  border-radius: 15px;
}
.page_logement_header_hoster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.page_logement_header_hoster_infos {
  display: flex;
  align-items: center;
}
.page_logement_header_hoster_infos_prenom {
  width: 120px;
  text-align: right;
  margin-right: 8px;
  font-size: 18px;
}
.page_logement_header_hoster_infos_img {
  width: 53px;
  height: 53px;
  border-radius: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}
.page_logement_header_hoster_notes {
  margin-top: 16px;
  text-align: right;
}
.page_logement_header_hoster_notes_star {
  padding-left: 5px;
  font-size: 25px;
}
.page_logement_header_hoster_notes_star_grey {
  color: rgb(188, 186, 186);
}
.page_logement_collapses {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 150px;
}
.page_logement_collapses_contents {
  width: 47%;
}
.page_logement_collapses_contents ul {
  margin: 0;
}

@media (max-width: 768px) {
  .slideshow {
    width: 100%;
    max-height: 255px;
  }
  .page_logement {
    width: 100%;
  }
  .page_logement_header {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .page_logement_header_infos_tags_tag {
    margin-bottom: 14px !important;
  }
  .page_logement_header_hoster {
    flex-direction: row-reverse !important;
    align-items: center !important;
    margin-top: 0 !important;
    margin-bottom: 8px;
  }
  .page_logement_header_hoster_infos {
    align-items: center;
  }
  .page_logement_header_hoster_infos_prenom {
    margin-top: 0;
    margin-bottom: 0;
  }
  .page_logement_header_hoster_notes {
    padding: 0 3px 16px 0 !important;
  }
  .page_logement_header_hoster_notes_star {
    padding: 0 2px 20px 0 !important;
  }
  .page_logement_collapses {
    margin-bottom: 220px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .page_logement_collapses_contents {
    width: 97%;
  }
}
.slideshow {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 13px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.slideshow:hover .slideshow_idx {
  opacity: 1;
}
.slideshow_container {
  display: flex;
  transition: transform 0.5s ease;
}
.slideshow_container_img {
  flex-shrink: 0;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow_controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}
.slideshow_controls_chevron {
  width: 50px;
  height: auto;
  font-size: 80px;
  opacity: 0.7;
  cursor: pointer;
  color: white;
  padding: 10px;
}
.slideshow_controls_chevron:hover {
  opacity: 1;
}
.slideshow_idx {
  position: absolute;
  color: white;
  bottom: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 6px;
  border-radius: 5px;
}

.single_slide {
  flex-shrink: 0;
  width: 1414px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .slideshow_controls_chevron {
    font-size: 50px;
  }
}/*# sourceMappingURL=style.css.map */